<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welkommen til Bruslista</title>
    <style>
        li {
            display: inline-block;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<div class="container">
 <h1>Brusliste for webkom.</h1>
    <div class="col-lg-12">
    {% if persons %}
        <ul>
        {% for person in persons %}
            <li><a class="btn btn-default" href="/{{ person.id }}/">{{ person.name }}</a></li>
        {% endfor %}

        </ul>
    {% else %}
        <p>Ingen personer i bruslisten.</p>
    {% endif %}
    </div>

</div>

</body>
</html>
